html {
    font-size:18px;
}
body {
    background-color:black;
    color:aliceblue
}

a {
    color:greenyellow;
}

a:visited {
    color:red;
}

a:hover , a:active {
    color:plum;
}